<% layout('layouts/boilerplate') %> 
    <h1>All campgrounds</h1>
    <a href="/campgrounds/new"> Add a New Campground</a>
    <ul>
    <% for(let camp of camps) { %> 
        
            <a href="/campgrounds/<%= camp._id %> ">
            <li><%= camp.title %> </li>
        </a>
        
    <% } %> 
</ul>