<% layout('layouts/boilerplate') %> 
    <div>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input type="text" name="campground[title]" id="title"><br>
        <label for="location">Location</label>
        <input type="text" name="campground[location]" id="location"><br>
        <button type="submit">Add New Camp</button>
        <br>
        <a href="/campgrounds">All Campgrounds</a>
    </form>
    </div>