<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%=foundCamp.title%></h1>
    <h2><%= foundCamp.location %> </h2>
</body>
<p>
    <a href="/campgrounds/<%= foundCamp._id%>/edit">Edit</a>
</p>
<form action="/campgrounds/<%= foundCamp._id%>?_method=DELETE" method="post">
<button>Delete</button>
</form>
<a href="/campgrounds">Back to Main Page</a>

</html>