<% layout('layouts/boilerplate') %> 
    <h1><%=foundCamp.title%></h1>
    <h2><%= foundCamp.location %> </h2>
<p>
    <a href="/campgrounds/<%= foundCamp._id%>/edit">Edit</a>
</p>
<form action="/campgrounds/<%= foundCamp._id%>?_method=DELETE" method="post">
<button>Delete</button>
</form>
<a href="/campgrounds">Back to Main Page</a>
